.rdw-suggestion-wrapper {
  position: relative;
}
.rdw-suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  min-width: 100px;
  max-height: 150px;
  overflow: auto;
  background: white;
  z-index: 100;
}
.rdw-suggestion-option {
  padding: 6px 4px;
  border-bottom: 1px solid #000000;
}
.rdw-suggestion-option-active {
  background-color: #c0c0c0;
}
