.rdw-link-decorator-wrapper {
  position: relative;
}
.rdw-link-decorator-icon {
  position: absolute;
  left: 90%;
  top: 0;
  cursor: pointer;
  background-color: white;
  height: 14px;
  width: 28px;
}
